<!-- LIENS VERS LES UI KITS GRATUITS -->
<div class="col-6 mt-5 pt-5">
  <h1>Freebies</h1>
</div>
<div class="products-list">
  <div class="row center">
    <div class="col">
      <div class="products">
        <h3 class="card-link-title mb-2">UI Kit 01</h3>
        <%= image_tag "kit1.jpg", alt: "alttext", class: 'free-kit-img' %>
        <div class="gum-btn" style="text-align:center;">
          <script src="https://gumroad.com/js/gumroad.js"></script>
          <a class="gumroad-button" href="https://gum.co/XiKJl?wanted=true" target="_blank">Download</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="products">
        <h3 class="card-link-title mb-2">UI Kit 02</h3>
        <%= image_tag "kit2.jpg", alt: "alttext", class: 'free-kit-img' %>
        <div class="gum-btn" style="text-align:center;">
          <script src="https://gumroad.com/js/gumroad.js"></script>
          <a class="gumroad-button" href="https://gum.co/RvbWa?wanted=true" target="_blank">Dowload</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="products">
        <h3 class="card-link-title mb-2">UI Kit 03</h3>
        <%= image_tag "kit3.jpg", alt: "alttext", class: 'free-kit-img' %>
        <div class="gum-btn" style="text-align:center;">
          <script src="https://gumroad.com/js/gumroad.js"></script>
          <a class="gumroad-button" href="https://gum.co/XiKJl?wanted=true" target="_blank">Download</a>
        </div>
      </div>
    </div>
  </div>
</div>
