<!-- MA BIOGRAPHIE -->
<div class="row colored-background p-5">
  <div class="row">
    <div class="col-6 mt-3">
      <h1>Resume</h1>
    </div>
    <div class="col-6 mt-3">
      <h3 class="mb-4">Introduction</h3>
      <p>My love of the internet and the web pushed me to study a degree in the digital field.
        So I did a DUT in which  I  studied subjects like digital humanities, DTP,  programming with HTML/CSS, and others domains like database management.
        <br>
        <br>
        I was always passionate about web design and design in general, so after my studies I try to dig deeper on this side.
        <br>
        <br>
        I begin to learn myself UX and UI online and learn how to use design tools like Sketch, Figma, Adobe XD, how to do personas, wireframing, prototyping, the psychology of color, how to communicate clearly…
        I’m actually part self-made.
        <br>
        <br>
        Now I try to learn more on the programming side and one of my long-term objective is to learn Swift.</p>
        <h3 class="mb-4">Experience</h3>
      <p>Freelance</p>
      <p>Digital Designer
        <br>
        June 2019 - Now</p>
        <p>Actiplay</p>
      <p>Junior digital designer
        <br>
        April 2018 - June 2019</p>
        <p>Sunday</p>
      <p>Community Manager
        <br>
        April 2017 - June 2017</p>
    </div>
  </div>
</div>
