<div class="container">
  <div class="row mt-5">
    <div class="col d-flex align-content-center justify-content-center">
      <div class="p-5 m-5">
        <p class="top-title">ANTHONY CHOREN</p>
      </div>
      <div class="mt-5">
        <h1 class="main-title main-title-layout">
          Hi there! I'm a digital designer from Bordeaux, France.
          <br>
          I enjoy creating bridges between people and technology.
        </h1>
      </div>
    </div>
  </div>
</div>
