<div class="container">
<!-- INTRO -->
  <%= render "intro" %>
  <%= render "platformes" %>
  <div class="spacer"></div>
  <div class="spacer"></div>
<!-- UI KITS -->
  <%= render "freebies" %>
  <div class="spacer"></div>
  <div class="spacer"></div>
  <%= render "resume" %>
  <div class="spacer"></div>
  <div class="spacer"></div>
</div>
