@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@font-face {
  font-family: 'CircularStd';
  src:font-url('/assets/CircularStd-Book.otf') format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: 'CircularStd';
  src:font-url('/assets/CircularStd-Medium.otf') format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: 'CircularStd';
  src:font-url('/assets/CircularStd-Bold.otf') format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: 'CircularStd';
  src:font-url('/assets/CircularStd-Black.otf') format("truetype");
  font-weight: 700;
}


// FONTS

body {
  font-family: 'CircularStd' !important;
}

h1 {
  font-weight: 700;
  color: #003142;
}

h2 {
  font-weight: 600;
}

h3 {
  font-weight: 500;
}

p {
  font-weight: 400 !important;
  font-size: 16px;
  line-height: 1.8em;
  color: #647d88;
}

.main-title {
  line-height: 1.6em;
  font-size: 56px;
  text-align: left;
  font-weight: 600;
}

.top-title {
 color: #503963;
 letter-spacing: 4px;
 font-family: 'CircularStd', sans-serif;
 font-weight: 400;
 text-align: center;
 font-size: 16px;
}

.card-link-title {
  font-family: 'CircularStd';
  font-size: 24px;
  color: #003142;
  margin: 0px;
}

.card-link-text {
  margin: 0px;
  color: #5a7586;
  font-size: 14px
}
